.header{
    background:lightskyblue;
    height: 100px;


}
.body{
    display: flex;
}
.menu{
    background: lightgrey;
    width: 20%;
    height: 700px;


}
.content{
    background: skyblue;
    width: 80%;
    height: 700px;


}
.active{
    /*background-color: white;*/
    height: 500px;
    width: 31%;
    color:#282c34;
    font-size: 30px;
    text-decoration: none;

}

.nav{
    color:blue;
    text-decoration: none;
}